body, html {
  background-size: cover;
  display: flex;
  align-items: center;
  width: 200vh;
  height: 120vh;
  overflow-y: scroll auto;
  overflow-x: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(218, 203, 203, 0.7);
  z-index: 0;
}

.title {
  margin-top: 100%;
  position: relative;
  z-index: 1;
  font-family: 'Inter';
  padding: 20px;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(to right, rgb(253, 252, 252), rgb(255, 253, 253));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-top: 200px;
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
  max-width: 60%;
  padding-left: 250px;
  font-family: 'Inter';
}

#btn {
  z-index: 2;
  padding: 20px 20px;
  border: 1px solid rgb(10, 9, 9);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-family: 'Neon Glow';
  box-shadow: 0px 0px 5px rgb(187, 185, 155), 0px 0px 30px rgb(65, 48, 4) inset;
  position: relative;
}

#btn:hover {
  box-shadow: 0px 0px 5px rgb(194, 201, 200), 0px 0px 30px rgb(219, 221, 195), 0px 0px 90px rgb(224, 220, 198);
  background-color: rgb(0, 0, 0);
  color: white;
}

#btn1, #btn2, #btn3, #btn4 {
  padding: 10px 20px;
  font-size: 1em;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  background-color: transparent; /* Make the background transparent */
  font-family: 'Neon Glow';
  transition: box-shadow 0.3s ease-in-out;
}

#btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover {
  background-color: rgb(12, 12, 11); /* Add background color on hover */
  color: white;
}

#btn1:active, #btn2:active, #btn3:active, #btn4:active {
  box-shadow: 0px 0px 15px 5px rgba(199, 199, 146, 0.6); /* Yellow light effect */
}

.link {
  text-decoration: none;
  color: rgb(240, 235, 235);
}

.link:hover {
  color: rgb(206, 203, 164);
}
