.about-container {
    margin: 2rem;
    padding: 2rem;
    background-image: url("https://img.freepik.com/premium-photo/red-minimalist-tech-finance-thumbnail-background-9_769134-342.jpg"); 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(248, 248, 248, 0.1);
    color: #ffffff; /* Set text color to white for better contrast against the background */
  }
  
  .about-container h1, .about-container h2 {
    color: #ffffff; /* Set headings color to white for better readability */
  }
  
  .about-container p, .about-container ul, .about-container li {
    color: #ffffff; /* Set text color to white for better readability */
  }
  
  .about-container ul {
    list-style-type: disc;
    margin-left: 2rem;
  }
  
  .about-container ul li {
    margin: 0.5rem 0;
  }
  